extends layout

block customlibs
  script(src='/javascripts/vote.js')

block content
  .body-container
    .container.main-content
      h1(class="page-title") Dynamic Poll
      .pollURL(class="no-show")= pollURL
      .poll-container